@model FolderManager.Domain.Models.FolderViewModel

<li>
    <span class="@(Model.Children?.Count > 0 ? "caret" : "")">@(Model.Name)</span>

    <button type="button" class="btn btn-outline-success float-right" data-toggle="ajax-modal" data-target="#createModal" data-url="@Url.Action($"Add", "Folder", new {id=Model.Id})">
        <i class="fas fa-folder-plus"></i>
    </button>

    <button type="button" class="btn btn-outline-warning float-right" data-toggle="ajax-modal" data-target="#editModal" data-url="@Url.Action($"Edit", "Folder", new {id=Model.Id})">
        <i class="fas fa-pencil-alt"></i>
    </button>

    <button type="button" class="btn btn-outline-danger float-right" data-toggle="ajax-modal" data-target="#deleteModal" data-url="@Url.Action($"Delete", "Folder", new {id=Model.Id})">
        <i class="fas fa-folder-minus"></i>
    </button>

    <button class="btn btn-outline-secondary float-right" onclick="sortClick('@Model.Id', 'asc')">
        <i class="fas fa-sort-alpha-down"></i>
    </button>
    <button class="btn btn-outline-secondary float-right" onclick="sortClick('@Model.Id', 'desc')">
        <i class="fas fa-sort-alpha-up"></i>
    </button>
    <button type="button" class="btn btn-outline-secondary float-right" data-toggle="ajax-modal" data-target="#moveModal" data-url="@Url.Action($"Move", "Folder", new {id=Model.Id})">
        <i class="fas fa-sort"></i>
    </button>

    @if (Model.Children?.Count > 0)
    {
        <ul class="nested" id="@Model.Id">
            @foreach (var child in Model.Children ?? new List<FolderViewModel>())
            {
                await Html.RenderPartialAsync("../TreeView/_TreeNode", child);
            }
        </ul>
    }
</li>

