@model FolderViewModel
<li>
    <span class="@(Model.Children?.Count > 0 ? "caret" : "")">@(Model.Name)</span>
    @if (Model.Children?.Count > 0)
    {
        <ul class="nested">
            @foreach (var child in Model.Children ?? new List<FolderViewModel>())
            {
                
                    await Html.RenderPartialAsync("../TreeView/_TreeNode", child);

                    <p>
                        <a asp-action="Edit" asp-route-id="@child.Id">Edit</a>
                        <a asp-action="Details" asp-route-id="@child.Id">Details</a>
                        <a asp-action="Delete" asp-route-id="@child.Id">Delete</a>
                    </p>
            }
        </ul>
    }
</li>